stages:
- stage: Test
  jobs:
  - job: Test
    strategy:
      matrix: 
        'Python 3.7/Linux':
          image: 'ubuntu-20.04'
          python_version: '3.7'
        'Python 3.8/Linux':
          image: 'ubuntu-20.04'
          python_version: '3.8'

    pool:
      vmImage: $(image)

    steps:
    - script: |
        PYENV=$(sed -e 's/\.//' <<< "py$(python_version)")
        echo env_b $PYENV
      displayName: 'Output Test'
        
